In [72]:
import pandas as pd
import regex as re
import numpy as np

### Creo el frankestein, agarro las dos mejores predicciones de bayes y me quedo con la que mas se la juega.

In [73]:
categorica = pd.read_csv("OutPut/NBCategorical.csv") 
bernu =  pd.read_csv("OutPut/NBBernoulli.csv")

In [74]:
categorica.head()

   Opportunity_ID    Target
0           10689  0.806533
1           10690  0.806533
2           10691  0.612472
3           10692  0.394884
4           10693  0.884404

In [75]:
bernuList = bernu['Target']
categoricaList = categorica['Target']

In [76]:
bernuList

0       0.878566
1       0.493078
2       0.721239
3       0.196589
4       0.948998
          ...
1562    0.878566
1563    0.710142
1564    0.710142
1565    0.863030
1566    0.297442
Name: Target, Length: 1567, dtype: float64

In [77]:
categoricaList

0       0.806533
1       0.806533
2       0.612472
3       0.394884
4       0.884404
          ...
1562    0.765880
1563    0.621591
1564    0.621591
1565    0.721478
1566    0.567451
Name: Target, Length: 1567, dtype: float64

In [78]:
aux = []
size = 1567
for x in range (size) :
    min = 1
    if ( (1-bernuList[x] ) < min ) :
        min = 1-bernuList[x]
        insert = bernuList[x]
    if ( (bernuList[x] ) < min ) :
        min = bernuList[x]
        insert = bernuList[x]
    if ( (1 - categoricaList[x] ) < min ) :
        min = 1 - categoricaList[x]
        insert = categoricaList[x]
    if ( (categoricaList[x] ) < min ) :
        min = categoricaList[x]
        insert = categoricaList[x]
    aux.append(insert)

In [79]:
Frank = categorica.copy()
Frank['Target'] = aux

In [80]:
Frank.head() ## Funciona

   Opportunity_ID    Target
0           10689  0.878566
1           10690  0.806533
2           10691  0.721239
3           10692  0.196589
4           10693  0.948998

In [81]:
Frank.to_csv('OutPut/Frankenstein_NB.csv', index=False)