In [1]:
import pandas as pd
import tensorflow as tf
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
"""
#def preprocess_dataframe(df):

  df = df[df['Stage'].isin(['Closed Won', 'Closed Lost'])]
  df.loc[:, 'Stage'].replace({'Closed Won':1, 'Closed Lost':0}, inplace=True) #0 corresponde a que el caso fue Closed Lost, 1 a que fue Closed Won. Asi tenemos un problema de clasificacion binario que puede entender la red neuronal.

  df = df[df['Opportunity_ID'] != 9773] #Hardcodeo este filtrado porque el id 9773 tiene mal cargada la fecha de delviery end, dando una diferencia de 200 anios xd"

  #Pasamos todo a dolares
  currency_conversion = {'AUD':0.707612, 'EUR':1.131064, 'GBP':1.318055, 'JPY':0.008987, 'USD':1.0}
  df['Total_Taxable_Amount_Currency'] = df[['Total_Taxable_Amount_Currency']].replace(currency_conversion)
  df['Total_Taxable_Amount'] = df['Total_Taxable_Amount_Currency'] * df['Total_Taxable_Amount']

  #Borro columnas que tengan el mismo dato en todas las entradas, o inconsecuentes como el ID / Opportunity_ID
  #Algunas columnas borradas son porque pienso que no tienen incidencia, ir viendo.
  #TODO: Analizar si el Sales_Contract_No no es que importe el numero en si, sino si tiene
  #o no tiene numero de contrato. Por ahora no lo meto como input.
  #TODO: Ver el mismo tema con la columna 'Price', la mayoria tiene None u Other
  #y solo unos pocos tienen precio numerico. Quiza importe que tenga precio o no tenga,
  #o si no tiene precio quiza importe si es None u Other. Por ahora no lo pongo
  #como input.
  df.drop(columns=['Submitted_for_Approval', 'Last_Activity', 'ASP_(converted)_Currency', 
                  'Prod_Category_A', 'ID', 'Opportunity_ID', 'Actual_Delivery_Date'],inplace=True)
  
  df.rename(columns={'Source ':'Source'}, inplace=True)

  #Renombramos las columnas que tienen caracteres que TensorFlow no acepta como validos.
  #Estos particularmente son whitespace, coma y parentesis por ejemplo.
  #df.rename(columns={'ASP_(converted)':'ASP_converted','Pricing, Delivery_Terms_Quote_Appr':
  #                  'Pricing_Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved':
  #                  'Pricing_Delivery_Terms_Approved','Source ':'Source'},inplace=True)


  #Drop columnas que quiza podamos usar pero por ahora no las uso
  df.drop(columns=['Account_Created_Date','Opportunity_Created_Date',
                  'Quote_Expiry_Date','Last_Modified_Date',
                  'Planned_Delivery_Start_Date','Planned_Delivery_End_Date',
                  'Month','Delivery_Year','Price','Account_Name','Opportunity_Owner'
                  ,'Account_Owner','ASP',"ASP_Currency","Total_Amount_Currency",
                   "Total_Taxable_Amount_Currency","Currency"],inplace=True)


  #Definimos que tipo de feature es cada columna

  #Debemos separar algunos de los registros para armar un set de test propio (no el de la catedra). De esta forma sabremos rapidamente
  #si nuestro modelo esta dando resultados optimos o no sin necesidad de estar subiendo el TP a Kaggle constantemente.
  #Sin embargo, no queremos usar tantos registros ya que estariamos disminuyendo el set de entrenamiento considerablemente.
  #Podemos empezar reservando 2000 registros para el test de prueba y ver que onda. Pasariamos de tener 16 mil a 14 mil 
  #registros para el set de entrenamiento, no es una perdida importantisima creo en principio, asi que arrancamos con eso.

  #Por otro lado, nuestro test de prueba deberia tener un 50 50 de Closed Won y Closed Lost, por lo que no podemos elegir asi nomas
  #al azar.

  #TODO: DEJO COMO TAREA ARMAR EL SET DE PRUEBA, POR AHORA SOLO NOS PREOCUPAMOS DE LOGRAR HACER ANDAR LA RED NEURONAL.
  normalized_columns = ['ASP_(converted)','TRF','Total_Taxable_Amount',"Total_Amount"]
  for column in normalized_columns:
    df[column] = (df[column] - df[column].mean()) / df[column].std()
  df.fillna(value=0, inplace=True)

  #Pruebo volar duplicados, solo cambia el producto. Si el producto no importa
  #entonces volar duplicados no deberia importar. Obviamente vuelo el producto en el que
  #quede tambien.
  df.drop_duplicates('Opportunity_Name',inplace=True)
  #df.drop(columns=['Product_Name','Product_Family'],inplace=True)

  return df
  """

'\n#def preprocess_dataframe(df):\n\n  df = df[df[\'Stage\'].isin([\'Closed Won\', \'Closed Lost\'])]\n  df.loc[:, \'Stage\'].replace({\'Closed Won\':1, \'Closed Lost\':0}, inplace=True) #0 corresponde a que el caso fue Closed Lost, 1 a que fue Closed Won. Asi tenemos un problema de clasificacion binario que puede entender la red neuronal.\n\n  df = df[df[\'Opportunity_ID\'] != 9773] #Hardcodeo este filtrado porque el id 9773 tiene mal cargada la fecha de delviery end, dando una diferencia de 200 anios xd"\n\n  #Pasamos todo a dolares\n  currency_conversion = {\'AUD\':0.707612, \'EUR\':1.131064, \'GBP\':1.318055, \'JPY\':0.008987, \'USD\':1.0}\n  df[\'Total_Taxable_Amount_Currency\'] = df[[\'Total_Taxable_Amount_Currency\']].replace(currency_conversion)\n  df[\'Total_Taxable_Amount\'] = df[\'Total_Taxable_Amount_Currency\'] * df[\'Total_Taxable_Amount\']\n\n  #Borro columnas que tengan el mismo dato en todas las entradas, o inconsecuentes como el ID / Opportunity_ID\n  #Algunas columnas borradas son porque pienso que no tienen incidencia, ir viendo.\n  #TODO: Analizar si el Sales_Contract_No no es que importe el numero en si, sino si tiene\n  #o no tiene numero de contrato. Por ahora no lo meto como input.\n  #TODO: Ver el mismo tema con la columna \'Price\', la mayoria tiene None u Other\n  #y solo unos pocos tienen precio numerico. Quiza importe que tenga precio o no tenga,\n  #o si no tiene precio quiza importe si es None u Other. Por ahora no lo pongo\n  #como input.\n  df.drop(columns=[\'Submitted_for_Approval\', \'Last_Activity\', \'ASP_(converted)_Currency\', \n                  \'Prod_Category_A\', \'ID\', \'Opportunity_ID\', \'Actual_Delivery_Date\'],inplace=True)\n  \n  df.rename(columns={\'Source \':\'Source\'}, inplace=True)\n\n  #Renombramos las columnas que tienen caracteres que TensorFlow no acepta como validos.\n  #Estos particularmente son whitespace, coma y parentesis por ejemplo.\n  #df.rename(columns={\'ASP_(converted)\':\'ASP_converted\',\'Pricing, Delivery_Terms_Quote_Appr\':\n  #                  \'Pricing_Delivery_Terms_Quote_Appr\',\'Pricing, Delivery_Terms_Approved\':\n  #                  \'Pricing_Delivery_Terms_Approved\',\'Source \':\'Source\'},inplace=True)\n\n\n  #Drop columnas que quiza podamos usar pero por ahora no las uso\n  df.drop(columns=[\'Account_Created_Date\',\'Opportunity_Created_Date\',\n                  \'Quote_Expiry_Date\',\'Last_Modified_Date\',\n                  \'Planned_Delivery_Start_Date\',\'Planned_Delivery_End_Date\',\n                  \'Month\',\'Delivery_Year\',\'Price\',\'Account_Name\',\'Opportunity_Owner\'\n                  ,\'Account_Owner\',\'ASP\',"ASP_Currency","Total_Amount_Currency",\n                   "Total_Taxable_Amount_Currency","Currency"],inplace=True)\n\n\n  #Definimos que tipo de feature es cada columna\n\n  #Debemos separar algunos de los registros para armar un set de test propio (no el de la catedra). De esta forma sabremos rapidamente\n  #si nuestro modelo esta dando resultados optimos o no sin necesidad de estar subiendo el TP a Kaggle constantemente.\n  #Sin embargo, no queremos usar tantos registros ya que estariamos disminuyendo el set de entrenamiento considerablemente.\n  #Podemos empezar reservando 2000 registros para el test de prueba y ver que onda. Pasariamos de tener 16 mil a 14 mil \n  #registros para el set de entrenamiento, no es una perdida importantisima creo en principio, asi que arrancamos con eso.\n\n  #Por otro lado, nuestro test de prueba deberia tener un 50 50 de Closed Won y Closed Lost, por lo que no podemos elegir asi nomas\n  #al azar.\n\n  #TODO: DEJO COMO TAREA ARMAR EL SET DE PRUEBA, POR AHORA SOLO NOS PREOCUPAMOS DE LOGRAR HACER ANDAR LA RED NEURONAL.\n  normalized_columns = [\'ASP_(converted)\',\'TRF\',\'Total_Taxable_Amount\',"Total_Amount"]\n  for column in normalized_columns:\n    df[column] = (df[column] - df[column].mean()) / df[column].std()\n  df.fillna(value=0, inplace=True)\n\n  #Pruebo volar duplicados, solo cambia el producto. Si el producto no importa\n  #entonces volar duplicados no deberia importar. Obviamente vuelo el producto en el que\n  #quede tambien.\n  df.drop_duplicates(\'Opportunity_Name\',inplace=True)\n  #df.drop(columns=[\'Product_Name\',\'Product_Family\'],inplace=True)\n\n  return df\n  '

In [3]:
def preprocess_dataframe(df):

  df.fillna(value=0, inplace=True) #Reemplazamos NAN por 0, ya que NAN rompe a Tensorflow

  #Renombramos las columnas que tienen caracteres que TensorFlow no acepta como validos.
  #Estos particularmente son whitespace, coma y parentesis por ejemplo.
  df.rename(columns={'ASP_(converted)':'ASP_converted','Pricing, Delivery_Terms_Quote_Appr':
                    'Pricing_Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved':
                    'Pricing_Delivery_Terms_Approved','Source ':'Source'},inplace=True)

  df = df[df['Stage'].isin(['Closed Won', 'Closed Lost'])]
  df.loc[:, 'Stage'].replace({'Closed Won':1, 'Closed Lost':0}, inplace=True) #0 corresponde a que el caso fue Closed Lost, 1 a que fue Closed Won. Asi tenemos un problema de clasificacion binario que puede entender la red neuronal.

  df.loc[:, 'Planned_Delivery_Start_Date'] = pd.to_datetime(df['Planned_Delivery_Start_Date'], 'coerce',
                                                                  format='%m/%d/%Y')
  df.loc[:, 'Planned_Delivery_End_Date'] = pd.to_datetime(df['Planned_Delivery_End_Date'], 'coerce',
                                                                                      format='%m/%d/%Y')
  df = df[df['Opportunity_ID'] != 9773] #Hardcodeo este filtrado porque el id 9773 tiene mal cargada la fecha de delviery end, dando una diferencia de 200 anios xd"

  #Pongo .loc porque pandas me jode con warnings que son falsos positivos de slice copy"
  #Gracias Pandas!"

  #Creamos una nueva columna (Feature Engineering) que contiene la longitud en dias 
  #estimada de la operacion. En el informe habiamos encontrado que aparentaba haber
  #una relacion cuadratica de decrecimiento a medida que aumentaban los dias donde disminuia
  #la chance de completar la operacion.
  df['Delta_Time'] = df['Planned_Delivery_End_Date'] - df['Planned_Delivery_Start_Date']
  df.loc[:, 'Delta_Time'] = df['Delta_Time'].dt.days
  df['Delta_Time'] = df.groupby('Opportunity_ID')['Delta_Time'].transform('max')

  #Pasamos todo a dolares
  currency_conversion = {'AUD':0.707612, 'EUR':1.131064, 'GBP':1.318055, 'JPY':0.008987, 'USD':1.0}
  df['Total_Taxable_Amount_Currency'] = df[['Total_Taxable_Amount_Currency']].replace(currency_conversion)
  df['Total_Taxable_Amount'] = df['Total_Taxable_Amount_Currency'] * df['Total_Taxable_Amount']

  #Modifico la columna Brand para que en vez de decir que marca es, solo diga
  #si tiene o no marca
  df.loc[df['Brand'] == 'None', 'Brand'] = 0
  df.loc[df['Brand'] != 'No', 'Brand'] = 1

  #Agrego una columna que indica si tiene o no numero de contrato
  df.loc[:, 'Sales_Contract_No'][df['Sales_Contract_No'] != 'None'] = 1
  df.loc[:, 'Sales_Contract_No'][df['Sales_Contract_No'] == 'None'] = 0
  df.rename(columns={'Sales_Contract_No':'Has_Contract_Number'}, inplace=True)

  #Agrego una columna que indique la cantidad de productos que tiene esa
  #oportunidad
  df['Product_Name'] = 1
  df['Product_Amount'] = df.groupby('Opportunity_ID')['Product_Name'].transform(lambda x: x.sum())

  #Agrego una columna que indica si el owner de la cuenta es el mismo que el de la oportunidad
  #o no
  df['Same_Owner'] = (df['Account_Owner'] == df['Opportunity_Owner'])
  df['Same_Owner'] = df['Same_Owner'].replace({False:0, True:1})


  #Cambio TRF por una columna que es la suma de los TRF de la oportunidad
  df["TRF"] = df.groupby("Opportunity_ID")["TRF"].transform("mean")


  #Pruebo volar duplicados, solo cambia el producto. Si el producto no importa
  #entonces volar duplicados no deberia importar. Obviamente vuelo el producto en el que
  #quede tambien.
  df.drop_duplicates('Opportunity_ID',inplace=True)
  df.drop(columns=['Product_Name','Product_Family','Opportunity_Name'],inplace=True)


  #Normalizo las columnas numericas
  normalized_columns = ['ASP_converted','TRF','Total_Taxable_Amount', 'Product_Amount']
  for column in normalized_columns:
    df[column] = (df[column] - df[column].mean()) / df[column].std()

  #Borro columnas que tengan el mismo dato en todas las entradas, o inconsecuentes como el ID / Opportunity_ID
  #Algunas columnas borradas son porque pienso que no tienen incidencia, ir viendo.
  #TODO: Analizar si el Sales_Contract_No no es que importe el numero en si, sino si tiene
  #o no tiene numero de contrato. Por ahora no lo meto como input.
  #TODO: Ver el mismo tema con la columna 'Price', la mayoria tiene None u Other
  #y solo unos pocos tienen precio numerico. Quiza importe que tenga precio o no tenga,
  #o si no tiene precio quiza importe si es None u Other. Por ahora no lo pongo
  #como input.
  df.drop(columns=['Submitted_for_Approval', 'Last_Activity', 'ASP_(converted)_Currency', 
                  'Prod_Category_A', 'ID', 'Opportunity_ID'],inplace=True)

  #Drop columnas que quiza podamos usar pero por ahora no las uso
  df.drop(columns=['Account_Created_Date','Opportunity_Created_Date',
                  'Quote_Expiry_Date','Last_Modified_Date',
                  'Planned_Delivery_Start_Date','Planned_Delivery_End_Date',
                  'Month','Delivery_Quarter', 'Delivery_Year', 'Actual_Delivery_Date',
                  'Price','ASP','ASP_Currency','Total_Amount_Currency',
                  'Total_Amount','Total_Taxable_Amount_Currency','Currency',
                   'Product_Category_B','Last_Modified_By', 'Account_Owner',
                   'Opportunity_Owner','Account_Name','Product_Type','Size',
                   'Territory', 'Billing_Country'],
                   inplace=True)

  #Definimos que tipo de feature es cada columna

  #Debemos separar algunos de los registros para armar un set de test propio (no el de la catedra). De esta forma sabremos rapidamente
  #si nuestro modelo esta dando resultados optimos o no sin necesidad de estar subiendo el TP a Kaggle constantemente.
  #Sin embargo, no queremos usar tantos registros ya que estariamos disminuyendo el set de entrenamiento considerablemente.
  #Podemos empezar reservando 2000 registros para el test de prueba y ver que onda. Pasariamos de tener 16 mil a 14 mil 
  #registros para el set de entrenamiento, no es una perdida importantisima creo en principio, asi que arrancamos con eso.

  #Por otro lado, nuestro test de prueba deberia tener un 50 50 de Closed Won y Closed Lost, por lo que no podemos elegir asi nomas
  #al azar.

  return df

In [4]:
df = pd.read_csv("Train_TP2_Datos_2020-2C.csv") 
df.head(10)

      ID    Region  ...        Stage       Prod_Category_A
0  27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1  27760      EMEA  ...   Closed Won  Prod_Category_A_None
2  27446  Americas  ...   Closed Won  Prod_Category_A_None
3  16808  Americas  ...  Closed Lost  Prod_Category_A_None
4  16805  Americas  ...  Closed Lost  Prod_Category_A_None
5  16802  Americas  ...  Closed Lost  Prod_Category_A_None
6  16799  Americas  ...  Closed Lost  Prod_Category_A_None
7  27455  Americas  ...   Closed Won  Prod_Category_A_None
8  24353     Japan  ...  Closed Lost  Prod_Category_A_None
9  24355     Japan  ...  Closed Lost  Prod_Category_A_None

[10 rows x 52 columns]

In [5]:
df = preprocess_dataframe(df)
df.head(10)

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Region  Pricing_Delivery_Terms_Quote_Appr  ...  Product_Amount  Same_Owner
0       EMEA                                  1  ...       -0.427738           0
1       EMEA                                  0  ...       -0.427738           0
2   Americas                                  0  ...       -0.427738           0
3   Americas                                  1  ...       -0.427738           1
4   Americas                                  1  ...       -0.427738           1
5   Americas                                  1  ...       -0.427738           1
6   Americas                                  1  ...       -0.427738           1
7   Americas                                  1  ...       -0.427738           0
8      Japan                                  1  ...        1.934778           1
13     Japan                                  1  ...        1.934778           1

[10 rows x 20 columns]

In [6]:
#creating labelEncoder
le = preprocessing.LabelEncoder()
categorical_columns = ["Region", "Bureaucratic_Code", "Source", "Account_Type",
                       "Opportunity_Type", "Quote_Type", "Delivery_Terms"]

for feature in categorical_columns:
  df[feature] = le.fit_transform(df[feature])

df.dropna(inplace=True)
df.head(10)

    Region  Pricing_Delivery_Terms_Quote_Appr  ...  Product_Amount  Same_Owner
0        2                                  1  ...       -0.427738           0
1        2                                  0  ...       -0.427738           0
2        1                                  0  ...       -0.427738           0
3        1                                  1  ...       -0.427738           1
4        1                                  1  ...       -0.427738           1
5        1                                  1  ...       -0.427738           1
6        1                                  1  ...       -0.427738           1
7        1                                  1  ...       -0.427738           0
8        3                                  1  ...        1.934778           1
13       3                                  1  ...        1.934778           1

[10 rows x 20 columns]

In [7]:
features = df.values

X_train, X_test, y_train, y_test = train_test_split(features, df["Stage"], test_size=0.1) # 70% training and 30% test

#Estas lineas hacen la estandarizacion a TODAS las columnas, por lo que esta mal, pero por alguna razon dan mejor que si solo normalizo las numericas
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [8]:
log_loss_min = 100
mejor_accuracy = 0
mejor_i = 0
model = KNeighborsClassifier()
aux_model = model
for i in range(2, 25):
  print(i)
  model = KNeighborsClassifier(n_neighbors=i, algorithm="kd_tree", weights="distance")#Ver que algoritmo usar y los otros parametros
  model.fit(X_train,y_train)
  y_pred = model.predict(X_test)
  log_loss_actual = metrics.log_loss(y_test, y_pred)
  print(log_loss_actual, metrics.accuracy_score(y_test, y_pred))
  if (log_loss_actual < log_loss_min):
        log_loss_min = log_loss_actual
        mejor_accuracy = metrics.accuracy_score(y_test, y_pred)
        mejor_i = i
        aux_model = model


print(mejor_i, log_loss_min, mejor_accuracy)

10
0.283690153127759 0.9917864476386037
11
0.3191517301219489 0.9907597535934292
12
0.3191517301219489 0.9907597535934292
13
0.3191517301219489 0.9907597535934292
14
0.3191517301219489 0.9907597535934292
15
0.3191517301219488 0.9907597535934292
16
0.3191517301219489 0.9907597535934292
17
0.3191517301219489 0.9907597535934292
18
0.35461248617421853 0.9897330595482546
19
0.2836909740696792 0.9917864476386037
20
0.2836901531277591 0.9917864476386037
21
0.2836901531277591 0.9917864476386037
22
0.3191517301219489 0.9907597535934292
23
0.2836901531277591 0.9917864476386037
24
0.2836901531277591 0.9917864476386037
10 0.283690153127759 0.9917864476386037

In [9]:
frio_test_df = pd.read_csv('Test_TP2_Datos_2020-2C.csv')
frio_test_df['Stage'] = 'Closed Won' #Esto esta solo para que funque todo, no lo uso. No se bien como armarlo sin los labels de Stage. TODO: Averiguar como es!
aux_df = frio_test_df[['Opportunity_ID']] #Esta columna la vuela el preprocesado sino
aux_df.drop_duplicates(subset='Opportunity_ID', inplace=True)

frio_test_df = preprocess_dataframe(frio_test_df)

frio_test_df.head(15)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Region  Pricing_Delivery_Terms_Quote_Appr  ...  Product_Amount  Same_Owner
0       EMEA                                  1  ...        0.836994           1
3       EMEA                                  1  ...        2.057060           1
8   Americas                                  1  ...       -0.383071           1
9   Americas                                  1  ...        2.667092           1
15  Americas                                  0  ...       -0.383071           1
16  Americas                                  0  ...       -0.383071           1
17      APAC                                  1  ...        0.836994           0
20      APAC                                  1  ...        1.447027           0
24      APAC                                  1  ...        2.057060           0
29      APAC                                  1  ...        0.226962           0
31      APAC                                  1  ...        2.057060           0
36      APAC                                  1  ...        0.836994           0
39      APAC                                  1  ...        0.836994           0
42      APAC                                  1  ...       -0.383071           0
43      APAC                                  1  ...        0.836994           0

[15 rows x 20 columns]

In [10]:
#creating labelEncoder
le = preprocessing.LabelEncoder()
categorical_columns = ["Region", "Bureaucratic_Code", "Source", "Account_Type",
                       "Opportunity_Type", "Quote_Type", "Delivery_Terms"]

for feature in categorical_columns:
  frio_test_df[feature] = le.fit_transform(frio_test_df[feature])

frio_test_df.fillna(0,inplace=True)
frio_test_df.head(15)

    Region  Pricing_Delivery_Terms_Quote_Appr  ...  Product_Amount  Same_Owner
0        2                                  1  ...        0.836994           1
3        2                                  1  ...        2.057060           1
8        1                                  1  ...       -0.383071           1
9        1                                  1  ...        2.667092           1
15       1                                  0  ...       -0.383071           1
16       1                                  0  ...       -0.383071           1
17       0                                  1  ...        0.836994           0
20       0                                  1  ...        1.447027           0
24       0                                  1  ...        2.057060           0
29       0                                  1  ...        0.226962           0
31       0                                  1  ...        2.057060           0
36       0                                  1  ...        0.836994           0
39       0                                  1  ...        0.836994           0
42       0                                  1  ...       -0.383071           0
43       0                                  1  ...        0.836994           0

[15 rows x 20 columns]

In [11]:
features = frio_test_df.values

scaler = StandardScaler()
scaler.fit(features)
features = scaler.transform(features)

predictions = aux_model.predict_proba(features)

aux_df['Target'] = predictions[:,1]

aux_df.to_csv('prediccionesFrioFrio.csv', index=False)

In [12]:
aux_df

      Opportunity_ID    Target
0              10689  1.000000
3              10690  1.000000
8              10691  1.000000
9              10692  1.000000
15             10693  0.808866
...              ...       ...
2545           12364  1.000000
2547           12365  0.810121
2548           12366  0.820581
2549           12367  0.000000
2550           12368  0.193443

[1567 rows x 2 columns]