In [1]:
import pandas as pd
import tensorflow as tf
import regex as re
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import RadiusNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

In [2]:
def preprocess_dataframe(df):

  df.fillna(value=0, inplace=True) #Reemplazamos NAN por 0, ya que NAN rompe a Tensorflow

  #Renombramos las columnas que tienen caracteres que TensorFlow no acepta como validos.
  #Estos particularmente son whitespace, coma y parentesis por ejemplo.
  df.rename(columns={'ASP_(converted)':'ASP_converted','Pricing, Delivery_Terms_Quote_Appr':
                    'Pricing_Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved':
                    'Pricing_Delivery_Terms_Approved','Source ':'Source'},inplace=True)

  df = df[df['Stage'].isin(['Closed Won', 'Closed Lost'])]
  df.loc[:, 'Stage'].replace({'Closed Won':1, 'Closed Lost':0}, inplace=True) #0 corresponde a que el caso fue Closed Lost, 1 a que fue Closed Won. Asi tenemos un problema de clasificacion binario que puede entender la red neuronal.

  df.loc[:, 'Planned_Delivery_Start_Date'] = pd.to_datetime(df['Planned_Delivery_Start_Date'], 'coerce',
                                                                  format='%m/%d/%Y')
  df.loc[:, 'Planned_Delivery_End_Date'] = pd.to_datetime(df['Planned_Delivery_End_Date'], 'coerce',
                                                                                      format='%m/%d/%Y')
  df = df[df['Opportunity_ID'] != 9773] #Hardcodeo este filtrado porque el id 9773 tiene mal cargada la fecha de delivery end, dando una diferencia de 200 anios xd"

  #Pongo .loc porque pandas me jode con warnings que son falsos positivos de slice copy"
  #Gracias Pandas!"

  #Creamos una nueva columna (Feature Engineering) que contiene la longitud en dias 
  #estimada de la operacion. En el informe habiamos encontrado que aparentaba haber
  #una relacion cuadratica de decrecimiento a medida que aumentaban los dias donde disminuia
  #la chance de completar la operacion.
  df['Delta_Time'] = df['Planned_Delivery_End_Date'] - df['Planned_Delivery_Start_Date']
  df.loc[:, 'Delta_Time'] = df['Delta_Time'].dt.days
  df['Delta_Time'] = df['Delta_Time'].replace({np.nan:10.0}) #Reemplazo con 10 porque los que no tienen fecha final ganan el 60%, y el analisis de los datos da que el 60% es maso a los 10 dias. Asi no jodo el resto de los datos
  df['Delta_Time'] = df.groupby('Opportunity_ID')['Delta_Time'].transform('max')

  #Pasamos todo a dolares
  currency_conversion = {'AUD':0.707612, 'EUR':1.131064, 'GBP':1.318055, 'JPY':0.008987, 'USD':1.0}
  df['Total_Taxable_Amount_Currency'] = df[['Total_Taxable_Amount_Currency']].replace(currency_conversion)
  df['Total_Taxable_Amount'] = df['Total_Taxable_Amount_Currency'] * df['Total_Taxable_Amount']

  #Modifico la columna Brand para que en vez de decir que marca es, solo diga
  #si tiene o no marca. Es importante aclarar que verificamos que siempre que una oportunidad
  #tiene un producto con marca entonces todos sus productos tienen marca. Esto se cumple
  #tanto en el set de entrenamiento como en el de test, por lo tanto al hacer drop_duplicates
  #no nos va a pasar nunca el caso donde nos pudieramos quedar con una entrada de producto
  #sin marca mientras que algun otro producto si tuviera, ya que confirmamos que o todos tienen
  #marca o ninguno tiene.
  df.loc[df['Brand'] == 'None', 'Brand'] = 'No'
  df.loc[df['Brand'] != 'No', 'Brand'] = 'Yes'

  #Agrego una columna que indica si tiene o no numero de contrato
  df.loc[:, 'Sales_Contract_No'][df['Sales_Contract_No'] != 'None'] = 'Yes'
  df.loc[:, 'Sales_Contract_No'][df['Sales_Contract_No'] == 'None'] = 'No'
  df.rename(columns={'Sales_Contract_No':'Has_Contract_Number'}, inplace=True)

  #Agrego una columna que indique la cantidad de productos que tiene esa
  #oportunidad
  df['Product'] = 1
  df['Product_Amount'] = df.groupby('Opportunity_ID')['Product'].transform(lambda x: x.sum())

  #Agrego una columna que indica si el owner de la cuenta es el mismo que el de la oportunidad
  #o no
  df['Same_Owner'] = (df['Account_Owner'] == df['Opportunity_Owner'])
  df['Same_Owner'] = df['Same_Owner'].replace({False:'No', True:'Yes'})

  #Agrego una columna que indica si tiene o no fecha de expiracion
  df['Quote_Expiry_Date'] = (df['Quote_Expiry_Date'] != 'NaT')
  df.rename(columns={'Quote_Expiry_Date':'Has_Expiry_Date'}, inplace=True)
  df['Has_Expiry_Date'] = df['Has_Expiry_Date'].replace({True:'Yes',False:'No'})

  #Reemplazo las 4 columnas de aprobacion por solo 2 columnas que indiquen si tuvo la aprobacion
  #de delivery y burocratica o no. Recalco que si nunca la necesito seria equivalente a si
  #la necesito y la consiguio.
  df['Delivery_Approved'] = df['Pricing_Delivery_Terms_Quote_Appr'] + df['Pricing_Delivery_Terms_Approved']
  df['Delivery_Approved'] = df['Delivery_Approved'].replace({0:1, 1:0, 2:1})
  df['Bureaucratic_Code_Approved'] = df['Bureaucratic_Code_0_Approval'] + df['Bureaucratic_Code_0_Approved']
  df['Bureaucratic_Code_Approved'] = df['Bureaucratic_Code_Approved'].replace({0:1, 1:0, 2:1})
  df['Approved'] = df['Delivery_Approved'] & df['Bureaucratic_Code_Approved']

  #Cambio TRF por una columna que es el valor medio de los TRF de la oportunidad
  df["TRF"] = df.groupby("Opportunity_ID")["TRF"].transform("mean")

  def combineProducts(x):
    products = ""
    added = []
    for product in x:
      product = re.findall('\d+', product)[0]
      if added.count(product) == 0:
        products += (product)
        added.append(product)
    return products

  #Junto todos los productos en una sola entrada
  df['Products'] = df.groupby('Opportunity_ID')['Product_Family'].transform(combineProducts)

  #Pruebo volar duplicados, solo cambia el producto. Si el producto no importa
  #entonces volar duplicados no deberia importar. Obviamente vuelo el producto en el que
  #quede tambien.
  df.drop_duplicates('Opportunity_Name',inplace=True)
  df.drop(columns=['Product_Name','Product_Family','Opportunity_Name'],inplace=True)

  #Normalizo las columnas numericas
  normalized_columns = ['ASP_converted','TRF','Total_Taxable_Amount', 'Product_Amount', 'Delta_Time']
  for column in normalized_columns:
    df[column] = (df[column] - df[column].mean()) / df[column].std()

  #Borro columnas que tengan el mismo dato en todas las entradas, o inconsecuentes como el ID / Opportunity_ID
  #Algunas columnas borradas son porque pienso que no tienen incidencia, ir viendo.
  #TODO: Analizar si el Sales_Contract_No no es que importe el numero en si, sino si tiene
  #o no tiene numero de contrato. Por ahora no lo meto como input.
  #TODO: Ver el mismo tema con la columna 'Price', la mayoria tiene None u Other
  #y solo unos pocos tienen precio numerico. Quiza importe que tenga precio o no tenga,
  #o si no tiene precio quiza importe si es None u Other. Por ahora no lo pongo
  #como input.
  df.drop(columns=['Submitted_for_Approval', 'Last_Activity', 'ASP_(converted)_Currency', 
                  'Prod_Category_A', 'ID', 'Opportunity_ID', 
                   'Actual_Delivery_Date'],inplace=True)

  #Drop columnas que quiza podamos usar pero por ahora no las uso
  df.drop(columns=['Account_Created_Date','Opportunity_Created_Date',
                  'Last_Modified_Date',
                  'Planned_Delivery_Start_Date','Planned_Delivery_End_Date',
                  'Month',
                  'Delivery_Year',
                  'Price','ASP','ASP_Currency','Total_Amount_Currency',
                  'Total_Amount','Total_Taxable_Amount_Currency','Currency',
                   'Product_Category_B','Last_Modified_By', 'Account_Owner',
                   'Opportunity_Owner','Account_Name','Product_Type','Size',
                   'Billing_Country', 'Pricing_Delivery_Terms_Quote_Appr',
                   'Pricing_Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval',
                   'Bureaucratic_Code_0_Approved',
                   'Approved', 'Has_Contract_Number','Territory']
                   ,inplace=True)
  
  #Definimos que tipo de feature es cada columna

  #Debemos separar algunos de los registros para armar un set de test propio (no el de la catedra). De esta forma sabremos rapidamente
  #si nuestro modelo esta dando resultados optimos o no sin necesidad de estar subiendo el TP a Kaggle constantemente.
  #Sin embargo, no queremos usar tantos registros ya que estariamos disminuyendo el set de entrenamiento considerablemente.
  #Podemos empezar reservando 2000 registros para el test de prueba y ver que onda. Pasariamos de tener 16 mil a 14 mil 
  #registros para el set de entrenamiento, no es una perdida importantisima creo en principio, asi que arrancamos con eso.

  #Por otro lado, nuestro test de prueba deberia tener un 50 50 de Closed Won y Closed Lost, por lo que no podemos elegir asi nomas
  #al azar.

  return df

In [3]:
df = pd.read_csv("Train_TP2_Datos_2020-2C.csv") 
df = preprocess_dataframe(df)
df.head(10)

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Region    Bureaucratic_Code  ... Bureaucratic_Code_Approved   Products
0       EMEA  Bureaucratic_Code_4  ...                          1         77
1       EMEA  Bureaucratic_Code_4  ...                          1         77
2   Americas  Bureaucratic_Code_4  ...                          1         81
3   Americas  Bureaucratic_Code_5  ...                          0        209
4   Americas  Bureaucratic_Code_5  ...                          0        209
5   Americas  Bureaucratic_Code_5  ...                          0        209
6   Americas  Bureaucratic_Code_5  ...                          0        164
7   Americas  Bureaucratic_Code_4  ...                          1        143
8      Japan  Bureaucratic_Code_5  ...                          1  642262377
13     Japan  Bureaucratic_Code_5  ...                          1  642262377

[10 rows x 21 columns]

In [4]:
#Setup para el Label Encoding

le = preprocessing.LabelEncoder()
categorical_columns = ["Region","Bureaucratic_Code","Source","Account_Type",
                       "Opportunity_Type","Quote_Type","Delivery_Terms","Brand",
                       "Has_Expiry_Date","Delivery_Quarter","Same_Owner"]

no_enc_df = df.copy() #Creo este aux para mantener el encoding para las predicciones

In [5]:
#Le aplico la codificacion a las columnas categoricas

for feature in categorical_columns:
  le.fit(df[feature]) #Calcula los codigos de cada valor de la serie que recibe
  df[feature] = le.transform(df[feature]) #Le asigno al df los valores codificados

df.head(10)

    Region  Bureaucratic_Code  ...  Bureaucratic_Code_Approved   Products
0        2                  4  ...                           1         77
1        2                  4  ...                           1         77
2        1                  4  ...                           1         81
3        1                  5  ...                           0        209
4        1                  5  ...                           0        209
5        1                  5  ...                           0        209
6        1                  5  ...                           0        164
7        1                  4  ...                           1        143
8        3                  5  ...                           1  642262377
13       3                  5  ...                           1  642262377

[10 rows x 21 columns]

In [6]:
target = df["Stage"].copy()
df.drop(columns=["Stage"],inplace=True)

X_train, X_test, y_train, y_test = train_test_split(df.values, target, test_size=0.04) #Separa el df en sets de "training" y validacion

#Estas lineas hacen la estandarizacion a TODAS las columnas, por lo que esta mal, pero por alguna razon dan mejor que si solo normalizo las numericas
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [7]:
log_loss_min = 100
curr_log_loss = 0
best_accuracy = 0
curr_accuracy = 0
best_n = 0

model = KNeighborsClassifier()
best_model = model #Creo este aux para despues hacer las predicciones, ya que sino model queda con el ultimo i

for n in range(2,90):
  print("n =", n)
  model = KNeighborsClassifier(n_neighbors=n, algorithm="kd_tree", weights="distance")#Ver que algoritmo usar y los otros parametros
  model.fit(X_train,y_train)
  y_pred = model.predict_proba(X_test)
  curr_log_loss = metrics.log_loss(y_test, y_pred)
  #curr_accuracy = metrics.accuracy_score(y_test, y_pred)
  print(curr_log_loss)#, curr_accuracy)
  if (curr_log_loss < log_loss_min):
        log_loss_min = curr_log_loss
        #best_accuracy = curr_accuracy
        best_n = n
        best_model = model


print(best_n, log_loss_min)#, best_accuracy)

n = 2
4.22469563267034
n = 3
2.637513587256887
n = 4
2.064870382339642
n = 5
1.8120751464065215
n = 6
1.414607297172475
n = 7
1.2464329056816574
n = 8
0.9960979089928946
n = 9
0.912304418337447
n = 10
0.8272957441025655
n = 11
0.6670387930943424
n = 12
0.5839639813706201
n = 13
0.5795677965211551
n = 14
0.5796216162919913
n = 15
0.5780466367429854
n = 16
0.5788045759713563
n = 17
0.5778805175654026
n = 18
0.5774605253362651
n = 19
0.5765827302663267
n = 20
0.5770132134421321
n = 21
0.5779834446535991
n = 22
0.5770054015220345
n = 23
0.49612958701110155
n = 24
0.4943625570817327
n = 25
0.4918873943573083
n = 26
0.49177552258160684
n = 27
0.48999718935621717
n = 28
0.4874859875458465
n = 29
0.48639760772376794
n = 30
0.48574803178193443
n = 31
0.48420581589913214
n = 32
0.48383283678301675
n = 33
0.4826049121758926
n = 34
0.4813861593174145
n = 35
0.4819973872116636
n = 36
0.48236039210464665
n = 37
0.4832207887191534
n = 38
0.4840945570906519
n = 39
0.4827571357584027
n = 40
0.4835091836453908
n = 41
0.483201277044275
n = 42
0.4838870965699432
n = 43
0.4837562807384917
n = 44
0.48385071241874866
n = 45
0.48371707918167084
n = 46
0.48347444070048207
n = 47
0.4839568618701724
n = 48
0.48374267421402717
n = 49
0.48461167486307505
n = 50
0.4854022390861525
n = 51
0.48511655718182184
n = 52
0.48509975118244075
n = 53
0.48438538710781154
n = 54
0.48473667207217486
n = 55
0.4850825548645689
n = 56
0.48548236399609174
n = 57
0.4853795814224048
n = 58
0.4857172225150999
n = 59
0.4850736024437079
n = 60
0.48542076524858646
n = 61
0.4861968004502441
n = 62
0.4865969517326841
n = 63
0.48696429229886534
n = 64
0.4877855130656613
n = 65
0.48766874584667225
n = 66
0.48823725491668646
n = 67
0.48798689365244036
n = 68
0.48734284758280777
n = 69
0.4875142809885384
n = 70
0.4871874041883466
n = 71
0.4872676500232304
n = 72
0.48715795770135467
n = 73
0.4865962850414215
n = 74
0.48670817147512796
n = 75
0.4865745038700598
n = 76
0.4866040168659303
n = 77
0.4860417690403068
n = 78
0.4852546175519395
n = 79
0.48533019112608106
n = 80
0.4853005014589187
n = 81
0.4853913953638688
n = 82
0.4851984906363936
n = 83
0.48569161194678834
n = 84
0.48515887583063255
n = 85
0.48490368245018145
n = 86
0.48516600129826915
n = 87
0.4850849433664428
n = 88
0.4848567578228923
n = 89
0.48442462082083837
34 0.4813861593174145

In [8]:
#Aca arranca la parte de las predicciones

frio_test_df = pd.read_csv('Test_TP2_Datos_2020-2C.csv')
frio_test_df['Stage'] = 'Closed Won' #Esto esta solo para que funque todo, no lo uso. No se bien como armarlo sin los labels de Stage. TODO: Averiguar como es!
pred_df = frio_test_df[['Opportunity_ID']] #Esta columna la vuela el preprocesado sino
pred_df.drop_duplicates(subset='Opportunity_ID', inplace=True)
frio_test_df = preprocess_dataframe(frio_test_df)

#frio_test_df.head(15)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
#Codifico las columnas categoricas

for feature in categorical_columns:
  le.fit(no_enc_df[feature])
  frio_test_df[feature] = le.transform(frio_test_df[feature])

frio_test_df.head(15)

    Region  Bureaucratic_Code  ...  Bureaucratic_Code_Approved         Products
0        2                  4  ...                           1        171167140
3        2                  4  ...                           1  171167140156168
8        1                  4  ...                           1              223
9        1                  2  ...                           0              221
15       1                  4  ...                           1              140
16       1                  4  ...                           1              140
17       0                  2  ...                           0              168
20       0                  2  ...                           0              162
24       0                  4  ...                           1              212
29       0                  4  ...                           1              162
31       0                  4  ...                           1              167
36       0                  4  ...                           1              210
39       0                  4  ...                           1              210
42       0                  4  ...                           1              210
43       0                  4  ...                           1              210

[15 rows x 21 columns]

In [10]:
target = frio_test_df["Stage"].copy()
frio_test_df.drop(columns=["Stage"],inplace=True)

features = frio_test_df.values

#Escalo todas las columnas. Como ya puse antes, en teoria esta mal, pero da mejor
scaler.fit(features)
features = scaler.transform(features)

predictions = best_model.predict_proba(features)

pred_df['Target'] = predictions[:,1]

pred_df.to_csv('prediccionesFrioFrio.csv', index=False)

In [11]:
#pred_df

In [12]:
#Aca hago el "train" sin train/test split

df = pd.read_csv("Train_TP2_Datos_2020-2C.csv") 
df = preprocess_dataframe(df)

no_enc_df = df.copy()

for feature in categorical_columns:
  le.fit(df[feature])
  df[feature] = le.transform(df[feature])

#df.head(10)

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
target = df["Stage"].copy()
df.drop(columns=["Stage"],inplace=True)

features = df.values

#Estas lineas hacen la estandarizacion a TODAS las columnas, por lo que esta mal, pero por alguna razon dan mejor que si solo normalizo las numericas
scaler = StandardScaler()
scaler.fit(features)
features = scaler.transform(features)

best_model.fit(features,target)

KNeighborsClassifier(algorithm='kd_tree', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=34, p=2,
                     weights='distance')

In [14]:
frio_test_df = pd.read_csv('Test_TP2_Datos_2020-2C.csv')
frio_test_df['Stage'] = 'Closed Won' #Esto esta solo para que funque todo, no lo uso. No se bien como armarlo sin los labels de Stage. TODO: Averiguar como es!
aux_df = frio_test_df[['Opportunity_ID']] #Esta columna la vuela el preprocesado sino
aux_df.drop_duplicates(subset='Opportunity_ID', inplace=True)

frio_test_df = preprocess_dataframe(frio_test_df)

for feature in categorical_columns:
  le.fit(no_enc_df[feature])
  frio_test_df[feature] = le.transform(frio_test_df[feature])

#frio_test_df.head(15)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
target = frio_test_df["Stage"].copy()
frio_test_df.drop(columns=["Stage"],inplace=True)
test_features = frio_test_df.values

scaler = StandardScaler()
scaler.fit(test_features)
test_features = scaler.transform(test_features)

predictions = best_model.predict_proba(test_features)

aux_df['Target'] = predictions[:,1]

aux_df.to_csv('prediccionesFrioFrioSinTest.csv', index=False)

In [16]:
aux_df

      Opportunity_ID    Target
0              10689  0.974743
3              10690  0.928765
8              10691  0.519328
9              10692  0.550100
15             10693  0.661111
...              ...       ...
2545           12364  0.883173
2547           12365  0.281029
2548           12366  0.281008
2549           12367  0.613439
2550           12368  0.493295

[1567 rows x 2 columns]