In [9]:
import pandas as pd
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [10]:
#from google.colab import drive
#drive.mount('/content/drive')

In [11]:
df = pd.read_csv("/usr/Train_TP2_Datos_2020-2C.csv") 
df = df[df["Stage"] != "Qualification"]
df = df[df["Stage"] != "Negotiation"]
df = df[df["Stage"] != "Proposal"]

In [12]:
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
#territory_encoded = le.fit_transform(df["Territory"])
#billing_country_encoded = le.fit_transform(df["Billing_Country"])
#op_type_encoded = le.fit_transform(df["Opportunity_Type"])
#prod_type_encoded = le.fit_transform(df["Product_Type"])
#label = le.fit_transform(df["Stage"])

for feature in df.columns:
  df[feature] = le.fit_transform(df[feature])

In [13]:
df.head()

      ID  Region  Territory  ...  Total_Taxable_Amount  Stage  Prod_Category_A
0  16094       2         46  ...                  6281      0                0
1  16093       2         46  ...                  1008      1                0
2  15839       1         43  ...                  1728      1                0
3   7418       1         43  ...                  6426      0                0
4   7415       1         43  ...                  6658      0                0

[5 rows x 52 columns]

In [14]:
#features=list(zip(territory_encoded,billing_country_encoded,op_type_encoded,prod_type_encoded))
features = df.values

In [23]:
X_train, X_test, y_train, y_test = train_test_split(features, df["Stage"], test_size=0.3) # 70% training and 30% tes

log_loss_min = 100
mejor_accuracy = 0
mejor_i = 0
for i in range(1, 100):
  print(i)
  model = KNeighborsClassifier(n_neighbors=i)
  model.fit(X_train,y_train)
  y_pred = model.predict(X_test)
  log_loss_actual = metrics.log_loss(y_test, y_pred)
  if (log_loss_actual < log_loss_min):
        log_loss_min = log_loss_actual
        mejor_accuracy = metrics.accuracy_score(y_test, y_pred)
        mejor_i = i


print(mejor_i, log_loss_min, mejor_accuracy)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
1 2.1616808797623057 0.9374136229022705

In [26]:
model2 = KNeighborsClassifier(n_neighbors=1)
model2.fit(X_train,y_train)
y2_pred = model2.predict(X_test)
metrics.log_loss(y_test, y2_pred)

2.1616808797623057