<a href="https://colab.research.google.com/github/MarcosRolando/OrgaDeDatosTP2/blob/main/neuralNetwoork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [453]:
import tensorflow as tf
import pandas as pd
import numpy as np
import math as mt
from tensorflow import feature_column

In [454]:
df = pd.read_csv('/content/Train_TP2_Datos_2020-2C.csv')
df.head(70)

       ID    Region  ...        Stage       Prod_Category_A
0   27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1   27760      EMEA  ...   Closed Won  Prod_Category_A_None
2   27446  Americas  ...   Closed Won  Prod_Category_A_None
3   16808  Americas  ...  Closed Lost  Prod_Category_A_None
4   16805  Americas  ...  Closed Lost  Prod_Category_A_None
..    ...       ...  ...          ...                   ...
65  24444     Japan  ...   Closed Won  Prod_Category_A_None
66  18491      EMEA  ...   Closed Won  Prod_Category_A_None
67  18494      EMEA  ...   Closed Won  Prod_Category_A_None
68   4920      EMEA  ...  Closed Lost  Prod_Category_A_None
69  17590      EMEA  ...  Closed Lost  Prod_Category_A_None

[70 rows x 52 columns]

Tuneamos algunas cosas del DataFrame que notamos en el analisis de los datos.

In [455]:
def preprocess_dataframe(df):

  df.fillna(value=0, inplace=True) #Reemplazamos NAN por 0, ya que NAN rompe a Tensorflow

  #Renombramos las columnas que tienen caracteres que TensorFlow no acepta como validos.
  #Estos particularmente son whitespace, coma y parentesis por ejemplo.
  df.rename(columns={'ASP_(converted)':'ASP_converted','Pricing, Delivery_Terms_Quote_Appr':
                    'Pricing_Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved':
                    'Pricing_Delivery_Terms_Approved','Source ':'Source'},inplace=True)

  df = df[df['Stage'].isin(['Closed Won', 'Closed Lost'])]
  df.loc[:, 'Stage'].replace({'Closed Won':1, 'Closed Lost':0}, inplace=True) #0 corresponde a que el caso fue Closed Lost, 1 a que fue Closed Won. Asi tenemos un problema de clasificacion binario que puede entender la red neuronal.

  df.loc[:, 'Planned_Delivery_Start_Date'] = pd.to_datetime(df['Planned_Delivery_Start_Date'], 'coerce',
                                                                  format='%m/%d/%Y')
  df.loc[:, 'Planned_Delivery_End_Date'] = pd.to_datetime(df['Planned_Delivery_End_Date'], 'coerce',
                                                                                      format='%m/%d/%Y')
  df = df[df['Opportunity_ID'] != 9773] #Hardcodeo este filtrado porque el id 9773 tiene mal cargada la fecha de delivery end, dando una diferencia de 200 anios xd"

  #Pongo .loc porque pandas me jode con warnings que son falsos positivos de slice copy"
  #Gracias Pandas!"

  #Creamos una nueva columna (Feature Engineering) que contiene la longitud en dias 
  #estimada de la operacion. En el informe habiamos encontrado que aparentaba haber
  #una relacion cuadratica de decrecimiento a medida que aumentaban los dias donde disminuia
  #la chance de completar la operacion.
  df['Delta_Time'] = df['Planned_Delivery_End_Date'] - df['Planned_Delivery_Start_Date']
  df.loc[:, 'Delta_Time'] = df['Delta_Time'].dt.days
  df['Delta_Time'] = df['Delta_Time'].replace({np.nan:10.0}) #Reemplazo con 10 porque los que no tienen fecha final ganan el 60%, y el analisis de los datos da que el 60% es maso a los 10 dias. Asi no jodo el resto de los datos
  df['Delta_Time'] = df.groupby('Opportunity_ID')['Delta_Time'].transform('max')

  #Pasamos todo a dolares
  currency_conversion = {'AUD':0.707612, 'EUR':1.131064, 'GBP':1.318055, 'JPY':0.008987, 'USD':1.0}
  df['Total_Taxable_Amount_Currency'] = df[['Total_Taxable_Amount_Currency']].replace(currency_conversion)
  df['Total_Taxable_Amount'] = df['Total_Taxable_Amount_Currency'] * df['Total_Taxable_Amount']

  #Modifico la columna Brand para que en vez de decir que marca es, solo diga
  #si tiene o no marca. Es importante aclarar que verificamos que siempre que una oportunidad
  #tiene un producto con marca entonces todos sus productos tienen marca. Esto se cumple
  #tanto en el set de entrenamiento como en el de test, por lo tanto al hacer drop_duplicates
  #no nos va a pasar nunca el caso donde nos pudieramos quedar con una entrada de producto
  #sin marca mientras que algun otro producto si tuviera, ya que confirmamos que o todos tienen
  #marca o ninguno tiene.
  df.loc[df['Brand'] == 'None', 'Brand'] = 'No'
  df.loc[df['Brand'] != 'No', 'Brand'] = 'Yes'

  #Agrego una columna que indica si tiene o no numero de contrato
  df.loc[:, 'Sales_Contract_No'][df['Sales_Contract_No'] != 'None'] = 'Yes'
  df.loc[:, 'Sales_Contract_No'][df['Sales_Contract_No'] == 'None'] = 'No'
  df.rename(columns={'Sales_Contract_No':'Has_Contract_Number'}, inplace=True)

  #Agrego una columna que indique la cantidad de productos que tiene esa
  #oportunidad
  df['Product_Name'] = 1
  df['Product_Amount'] = df.groupby('Opportunity_ID')['Product_Name'].transform(lambda x: x.sum())

  #Agrego una columna que indica si el owner de la cuenta es el mismo que el de la oportunidad
  #o no
  df['Same_Owner'] = (df['Account_Owner'] == df['Opportunity_Owner'])
  df['Same_Owner'] = df['Same_Owner'].replace({False:'No', True:'Yes'})

  #Agrego una columna que indica si tiene o no fecha de expiracion
  df['Quote_Expiry_Date'] = (df['Quote_Expiry_Date'] != 'NaT')
  df.rename(columns={'Quote_Expiry_Date':'Has_Expiry_Date'}, inplace=True)
  df['Has_Expiry_Date'] = df['Has_Expiry_Date'].replace({True:'Yes',False:'No'})

  #Reemplazo las 4 columnas de aprobacion por solo 2 columnas que indiquen si tuvo la aprobacion
  #de delivery y burocratica o no. Recalco que si nunca la necesito seria equivalente a si
  #la necesito y la consiguio.
  df['Delivery_Approved'] = df['Pricing_Delivery_Terms_Quote_Appr'] + df['Pricing_Delivery_Terms_Approved']
  df['Delivery_Approved'] = df['Delivery_Approved'].replace({0:1, 1:0, 2:1})
  df['Bureaucratic_Code_Approved'] = df['Bureaucratic_Code_0_Approval'] + df['Bureaucratic_Code_0_Approved']
  df['Bureaucratic_Code_Approved'] = df['Bureaucratic_Code_Approved'].replace({0:1, 1:0, 2:1})
  df['Approved'] = df['Delivery_Approved'] & df['Bureaucratic_Code_Approved']

  #Cambio TRF por una columna que es el valor medio de los TRF de la oportunidad
  df["TRF"] = df.groupby("Opportunity_ID")["TRF"].transform("mean")

  #Pruebo volar duplicados, solo cambia el producto. Si el producto no importa
  #entonces volar duplicados no deberia importar. Obviamente vuelo el producto en el que
  #quede tambien.
  df.drop_duplicates('Opportunity_Name',inplace=True)
  df.drop(columns=['Product_Name','Product_Family','Opportunity_Name'],inplace=True)

  #Normalizo las columnas numericas
  normalized_columns = ['ASP_converted','TRF','Total_Taxable_Amount', 'Product_Amount', 'Delta_Time']
  for column in normalized_columns:
    df[column] = (df[column] - df[column].mean()) / df[column].std()

  #Borro columnas que tengan el mismo dato en todas las entradas, o inconsecuentes como el ID / Opportunity_ID
  #Algunas columnas borradas son porque pienso que no tienen incidencia, ir viendo.
  #TODO: Analizar si el Sales_Contract_No no es que importe el numero en si, sino si tiene
  #o no tiene numero de contrato. Por ahora no lo meto como input.
  #TODO: Ver el mismo tema con la columna 'Price', la mayoria tiene None u Other
  #y solo unos pocos tienen precio numerico. Quiza importe que tenga precio o no tenga,
  #o si no tiene precio quiza importe si es None u Other. Por ahora no lo pongo
  #como input.
  df.drop(columns=['Submitted_for_Approval', 'Last_Activity', 'ASP_(converted)_Currency', 
                  'Prod_Category_A', 'ID', #'Opportunity_ID', 
                   'Actual_Delivery_Date'],inplace=True)

  #Drop columnas que quiza podamos usar pero por ahora no las uso
  df.drop(columns=['Account_Created_Date','Opportunity_Created_Date',
                  'Last_Modified_Date',
                  'Planned_Delivery_Start_Date','Planned_Delivery_End_Date',
                  'Month',
                   'Delivery_Year',
                  'Price','ASP','ASP_Currency','Total_Amount_Currency',
                  'Total_Amount','Total_Taxable_Amount_Currency','Currency',
                   'Product_Category_B','Last_Modified_By', 'Account_Owner',
                   'Opportunity_Owner','Account_Name','Product_Type','Size',
                   'Territory', 'Billing_Country', 'Pricing_Delivery_Terms_Quote_Appr',
                   'Pricing_Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval',
                   'Bureaucratic_Code_0_Approved',
                   'Total_Taxable_Amount','Product_Amount','ASP_converted',
                   'Delivery_Quarter','Quote_Type','Approved','TRF']
                   ,inplace=True)

  #Definimos que tipo de feature es cada columna

  #Debemos separar algunos de los registros para armar un set de test propio (no el de la catedra). De esta forma sabremos rapidamente
  #si nuestro modelo esta dando resultados optimos o no sin necesidad de estar subiendo el TP a Kaggle constantemente.
  #Sin embargo, no queremos usar tantos registros ya que estariamos disminuyendo el set de entrenamiento considerablemente.
  #Podemos empezar reservando 2000 registros para el test de prueba y ver que onda. Pasariamos de tener 16 mil a 14 mil 
  #registros para el set de entrenamiento, no es una perdida importantisima creo en principio, asi que arrancamos con eso.

  #Por otro lado, nuestro test de prueba deberia tener un 50 50 de Closed Won y Closed Lost, por lo que no podemos elegir asi nomas
  #al azar.

  return df

In [456]:
# Metodo que pasa de DataFrame de Pandas a un DataSet de TensorFlow
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('Stage') #Retorna la columna Stage, eliminandolo simultaneamente del DataFrame. 'Stage' seria nuestra columna 'target', es decir, lo que queremos predecir.
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels)) #Crea un DataSet cuyos elementos son slices de los tensores pasados a la funcion. Ver documentacion oficial para comprender bien.
  #En pocas palabras, le pasamos las columnas con los datos como diccionario (estilo 'columna':[dato1,dato2,dato3]) y una lista con los resultados estilo [resu1,resu2,resu3].
  #Se genera un DataSet del estilo [('columna':[dato1,dato2,dato3], [resu1, resu2, resu3])].
  #En realidad 'columna' es una lista de todas las columnas con sus correspondientes datos, pero se entiende la idea creo.
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe)) #Al tener el buffer_size del mismo tamanio que la cantidad de datos del dataset, tenemos perfect shuffling (ver documentacion para comprender).
    #Basicamente mezlcamos el dataset para que luego los batches que se armen contengan distintos elementos si lo entrenamos distintas veces.
  ds = ds.batch(batch_size) #Arma batches de tamanio batch_size entre elementos consecutivos del DataSet.
  return ds

In [457]:
#Arma las features, asignando las columnas del DataFrame segun corresponda al tipo de feature
#(numerico, categorico, etc). Entiendase por feature a las columnas del DataFrame.
def set_up_feature_columns(dataframe, numeric_columns, indicator_columns, bucket_columns, crossed_columns):
  features = []

  #numeric features
  for column_name in numeric_columns:
    features.append(feature_column.numeric_column(column_name))

  #bucket features
  boundaries = [] #En principio este boundary es solo para la columna 'Delta Time'. Ver de como generalizar.
  for i in range(37):
    boundaries.append(i*10.0)

  for column_name in bucket_columns:
    range_column = feature_column.numeric_column(column_name)
    bukect_column = feature_column.bucketized_column(range_column, boundaries)
    features.append(bukect_column)

  #indicator features (one-hot value vector, para aquellas columnas categoricas de pocas opciones)
  for column_name in indicator_columns:
    categorical_column = feature_column.categorical_column_with_vocabulary_list(
                                          column_name, dataframe[column_name].unique())
    indicator_column = feature_column.indicator_column(categorical_column)
    features.append(indicator_column)

  #crossed features
  for crossed_feature in crossed_columns:
    categorical_columns = []
    possible_values = 1
    for column_name in crossed_feature:
      column_keys = dataframe[column_name].unique()
      possible_values = possible_values * len(column_keys)
      categorical_columns.append(feature_column.categorical_column_with_vocabulary_list(
                                            column_name, column_keys))
    crossed_feature = feature_column.crossed_column(categorical_columns, hash_bucket_size=possible_values) #Ponemos la cantidad de buckets justos para representar todas las combinaciones
    features.append(feature_column.indicator_column(crossed_feature))

  return features

Preparamos los features para el modelo, es decir, seteamos cada una de las columnas que vayamos a utilizar del DataFrame. Luego generamos el DataSet en base al DataFrame para darselo como input al modelo.

In [458]:
  #Columnas que consideramos numericas
  numeric_columns = ['Delta_Time']#['Total_Taxable_Amount','Product_Amount','ASP_converted','TRF']

  #Columnas que consideramos clasificatorias con rango numerico
  bucket_columns = []

  #Columnas que consideramos categoricas de pocos valores posibles
  indicator_columns = ['Region', 
                       'Source', #'Same_Owner',
                        'Account_Type',
                        'Opportunity_Type']
                       #'Delivery_Quarter','Quote_Type',]
                        #'Last_Modified_By'
                        #'Product_Family', 'Product_Name',
                        #'Account_Owner', 'Opportunity_Owner', 'Account_Name'
                        #'Territory', 'Billing_Country'

  #Columnas crossed, aquellas que queremos un parametro por combinacion
  crossed_columns = [['Brand', 'Has_Contract_Number','Has_Expiry_Date'],
                     ['Has_Contract_Number','Delivery_Terms','Delivery_Approved'],
                     ['Has_Contract_Number','Bureaucratic_Code','Bureaucratic_Code_Approved']]

  df = pd.read_csv('/content/Train_TP2_Datos_2020-2C.csv')
  df = preprocess_dataframe(df)

  features = set_up_feature_columns(df,numeric_columns,indicator_columns,bucket_columns, crossed_columns)

  #Separamos el DataFrame en uno de pruebo y el de entrenamiento. TODO: Ver el de validacion
  #test_lines = 200

  np.random.seed(1)
  drop_indices = np.random.choice(df.index, test_lines, replace=False)
  df_test = df.loc[drop_indices, :]
  df.drop(drop_indices, inplace=True)

  #df_validation = df.tail(200)
  #df.drop(df.tail(200).index, inplace=True)

  feature_layer = tf.keras.layers.DenseFeatures(features)
  ds = df_to_dataset(df,batch_size=56, shuffle=False)
  ds_test = df_to_dataset(df_test, batch_size=56, shuffle=False)
  #ds_validation = df_to_dataset(df_validation, batch_size=56, shuffle=False)
 
  df.head(30)

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Region  ... Bureaucratic_Code_Approved
0       EMEA  ...                          1
1       EMEA  ...                          1
2   Americas  ...                          1
3   Americas  ...                          0
4   Americas  ...                          0
5   Americas  ...                          0
6   Americas  ...                          0
7   Americas  ...                          1
8      Japan  ...                          1
13     Japan  ...                          1
18     Japan  ...                          1
23      APAC  ...                          1
24      APAC  ...                          1
25     Japan  ...                          1
31     Japan  ...                          1
37     Japan  ...                          1
44     Japan  ...                          1
51     Japan  ...                          1
56     Japan  ...                          1
62      EMEA  ...                          1
63      EMEA  ...                          1
64  Americas  ...                          1
65     Japan  ...                          1
66      EMEA  ...                          1
67      EMEA  ...                          1
68      EMEA  ...                          1
69      EMEA  ...                          1
70      EMEA  ...                          1
73      EMEA  ...                          1
77      APAC  ...                          1

[30 rows x 15 columns]

Creamos y compilamos el modelo. En esta seccion se tunean las propiedades del modelo.

In [459]:
model = tf.keras.Sequential([
  feature_layer,
  tf.keras.layers.Dense(3, activation='relu'),
  tf.keras.layers.Dense(1, activation='sigmoid')
])

In [460]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

Entrenamos el modelo

In [461]:
#Ignoren el WARNING, esta en la documentacion tambien. Nadie le da bola en StackOverflow xd.
model.fit(ds, validation_data=ds_test, epochs=120)
#model.fit(ds, epochs=120)
model.summary()

Epoch 1/120
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'Region': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=string>, 'Bureaucratic_Code': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=string>, 'Source': <tf.Tensor 'ExpandDims_13:0' shape=(None, 1) dtype=string>, 'Opportunity_ID': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=int64>, 'Has_Contract_Number': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=string>, 'Account_Type': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=string>, 'Opportunity_Type': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=string>, 'Delivery_Terms': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=string>, 'Brand': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=string>, 'Has_Expiry_Date': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=string>, 'Delta_Time': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=float64>, 'Same_Owner': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=string>, 'Delivery_Approved': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=int64>, 'Bureaucratic_Code_Approved': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=int64>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'Region': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=string>, 'Bureaucratic_Code': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=string>, 'Source': <tf.Tensor 'ExpandDims_13:0' shape=(None, 1) dtype=string>, 'Opportunity_ID': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=int64>, 'Has_Contract_Number': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=string>, 'Account_Type': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=string>, 'Opportunity_Type': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=string>, 'Delivery_Terms': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=string>, 'Brand': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=string>, 'Has_Expiry_Date': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=string>, 'Delta_Time': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=float64>, 'Same_Owner': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=string>, 'Delivery_Approved': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=int64>, 'Bureaucratic_Code_Approved': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=int64>}
Consider rewriting this model with the Functional API.
172/172 [==============================] - ETA: 0s - loss: 0.6173 - accuracy: 0.7005WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'Region': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=string>, 'Bureaucratic_Code': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=string>, 'Source': <tf.Tensor 'ExpandDims_13:0' shape=(None, 1) dtype=string>, 'Opportunity_ID': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=int64>, 'Has_Contract_Number': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=string>, 'Account_Type': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=string>, 'Opportunity_Type': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=string>, 'Delivery_Terms': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=string>, 'Brand': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=string>, 'Has_Expiry_Date': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=string>, 'Delta_Time': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=float64>, 'Same_Owner': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=string>, 'Delivery_Approved': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=int64>, 'Bureaucratic_Code_Approved': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=int64>}
Consider rewriting this model with the Functional API.
172/172 [==============================] - 2s 7ms/step - loss: 0.6168 - accuracy: 0.7012 - val_loss: 0.3551 - val_accuracy: 0.9750
Epoch 2/120
172/172 [==============================] - 1s 6ms/step - loss: 0.3141 - accuracy: 0.9654 - val_loss: 0.1843 - val_accuracy: 0.9750
Epoch 3/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1936 - accuracy: 0.9667 - val_loss: 0.1317 - val_accuracy: 0.9750
Epoch 4/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1589 - accuracy: 0.9669 - val_loss: 0.1144 - val_accuracy: 0.9750
Epoch 5/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1476 - accuracy: 0.9668 - val_loss: 0.1076 - val_accuracy: 0.9800
Epoch 6/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1428 - accuracy: 0.9669 - val_loss: 0.1049 - val_accuracy: 0.9800
Epoch 7/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1399 - accuracy: 0.9669 - val_loss: 0.1034 - val_accuracy: 0.9800
Epoch 8/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1379 - accuracy: 0.9670 - val_loss: 0.1024 - val_accuracy: 0.9800
Epoch 9/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1364 - accuracy: 0.9670 - val_loss: 0.1017 - val_accuracy: 0.9800
Epoch 10/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1352 - accuracy: 0.9671 - val_loss: 0.1011 - val_accuracy: 0.9800
Epoch 11/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1342 - accuracy: 0.9671 - val_loss: 0.1007 - val_accuracy: 0.9800
Epoch 12/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1333 - accuracy: 0.9672 - val_loss: 0.1003 - val_accuracy: 0.9800
Epoch 13/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1326 - accuracy: 0.9672 - val_loss: 0.1000 - val_accuracy: 0.9800
Epoch 14/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1319 - accuracy: 0.9672 - val_loss: 0.0997 - val_accuracy: 0.9800
Epoch 15/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1313 - accuracy: 0.9672 - val_loss: 0.0995 - val_accuracy: 0.9800
Epoch 16/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1308 - accuracy: 0.9672 - val_loss: 0.0994 - val_accuracy: 0.9800
Epoch 17/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1303 - accuracy: 0.9672 - val_loss: 0.0992 - val_accuracy: 0.9800
Epoch 18/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1299 - accuracy: 0.9672 - val_loss: 0.0990 - val_accuracy: 0.9800
Epoch 19/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1294 - accuracy: 0.9672 - val_loss: 0.0988 - val_accuracy: 0.9800
Epoch 20/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1291 - accuracy: 0.9672 - val_loss: 0.0987 - val_accuracy: 0.9800
Epoch 21/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1288 - accuracy: 0.9672 - val_loss: 0.0986 - val_accuracy: 0.9800
Epoch 22/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1286 - accuracy: 0.9672 - val_loss: 0.0984 - val_accuracy: 0.9800
Epoch 23/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1283 - accuracy: 0.9672 - val_loss: 0.0983 - val_accuracy: 0.9800
Epoch 24/120
172/172 [==============================] - 1s 7ms/step - loss: 0.1281 - accuracy: 0.9672 - val_loss: 0.0982 - val_accuracy: 0.9800
Epoch 25/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1279 - accuracy: 0.9672 - val_loss: 0.0981 - val_accuracy: 0.9800
Epoch 26/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1277 - accuracy: 0.9672 - val_loss: 0.0979 - val_accuracy: 0.9800
Epoch 27/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1276 - accuracy: 0.9672 - val_loss: 0.0978 - val_accuracy: 0.9800
Epoch 28/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1274 - accuracy: 0.9672 - val_loss: 0.0976 - val_accuracy: 0.9800
Epoch 29/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1273 - accuracy: 0.9672 - val_loss: 0.0975 - val_accuracy: 0.9800
Epoch 30/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1272 - accuracy: 0.9672 - val_loss: 0.0973 - val_accuracy: 0.9800
Epoch 31/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1271 - accuracy: 0.9672 - val_loss: 0.0972 - val_accuracy: 0.9800
Epoch 32/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1269 - accuracy: 0.9672 - val_loss: 0.0971 - val_accuracy: 0.9800
Epoch 33/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1268 - accuracy: 0.9672 - val_loss: 0.0971 - val_accuracy: 0.9800
Epoch 34/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1268 - accuracy: 0.9672 - val_loss: 0.0970 - val_accuracy: 0.9800
Epoch 35/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1267 - accuracy: 0.9672 - val_loss: 0.0968 - val_accuracy: 0.9800
Epoch 36/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1266 - accuracy: 0.9672 - val_loss: 0.0968 - val_accuracy: 0.9800
Epoch 37/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1265 - accuracy: 0.9672 - val_loss: 0.0967 - val_accuracy: 0.9800
Epoch 38/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1265 - accuracy: 0.9672 - val_loss: 0.0966 - val_accuracy: 0.9800
Epoch 39/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1264 - accuracy: 0.9672 - val_loss: 0.0966 - val_accuracy: 0.9800
Epoch 40/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1264 - accuracy: 0.9672 - val_loss: 0.0966 - val_accuracy: 0.9800
Epoch 41/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1263 - accuracy: 0.9672 - val_loss: 0.0965 - val_accuracy: 0.9800
Epoch 42/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1262 - accuracy: 0.9672 - val_loss: 0.0964 - val_accuracy: 0.9800
Epoch 43/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1262 - accuracy: 0.9672 - val_loss: 0.0963 - val_accuracy: 0.9800
Epoch 44/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1262 - accuracy: 0.9672 - val_loss: 0.0963 - val_accuracy: 0.9800
Epoch 45/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1261 - accuracy: 0.9672 - val_loss: 0.0962 - val_accuracy: 0.9800
Epoch 46/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1261 - accuracy: 0.9672 - val_loss: 0.0962 - val_accuracy: 0.9800
Epoch 47/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1260 - accuracy: 0.9672 - val_loss: 0.0962 - val_accuracy: 0.9800
Epoch 48/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1260 - accuracy: 0.9672 - val_loss: 0.0962 - val_accuracy: 0.9800
Epoch 49/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1260 - accuracy: 0.9672 - val_loss: 0.0962 - val_accuracy: 0.9800
Epoch 50/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1259 - accuracy: 0.9672 - val_loss: 0.0961 - val_accuracy: 0.9800
Epoch 51/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1259 - accuracy: 0.9672 - val_loss: 0.0961 - val_accuracy: 0.9800
Epoch 52/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1259 - accuracy: 0.9672 - val_loss: 0.0961 - val_accuracy: 0.9800
Epoch 53/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1259 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 54/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1258 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 55/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1258 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 56/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1258 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 57/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1257 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 58/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1257 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 59/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1257 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 60/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1257 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 61/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1257 - accuracy: 0.9672 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 62/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1256 - accuracy: 0.9672 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 63/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1256 - accuracy: 0.9672 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 64/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1256 - accuracy: 0.9672 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 65/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1256 - accuracy: 0.9672 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 66/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1256 - accuracy: 0.9672 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 67/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1255 - accuracy: 0.9672 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 68/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1255 - accuracy: 0.9672 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 69/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1255 - accuracy: 0.9672 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 70/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1255 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 71/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1255 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 72/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1255 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 73/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1255 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 74/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1254 - accuracy: 0.9672 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 75/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1254 - accuracy: 0.9673 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 76/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1254 - accuracy: 0.9673 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 77/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1254 - accuracy: 0.9673 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 78/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1254 - accuracy: 0.9673 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 79/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1254 - accuracy: 0.9678 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 80/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1254 - accuracy: 0.9678 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 81/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1254 - accuracy: 0.9678 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 82/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1254 - accuracy: 0.9683 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 83/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1253 - accuracy: 0.9683 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 84/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1253 - accuracy: 0.9683 - val_loss: 0.0959 - val_accuracy: 0.9800
Epoch 85/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1253 - accuracy: 0.9683 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 86/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1253 - accuracy: 0.9683 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 87/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1253 - accuracy: 0.9683 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 88/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1253 - accuracy: 0.9683 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 89/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1252 - accuracy: 0.9683 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 90/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1252 - accuracy: 0.9683 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 91/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1252 - accuracy: 0.9683 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 92/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1252 - accuracy: 0.9683 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 93/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1252 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 94/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1252 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 95/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1252 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 96/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1251 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 97/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1251 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 98/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1251 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 99/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 100/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1251 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 101/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 102/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 103/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 104/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 105/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 106/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0961 - val_accuracy: 0.9800
Epoch 107/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 108/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0961 - val_accuracy: 0.9800
Epoch 109/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 110/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 111/120
172/172 [==============================] - 1s 6ms/step - loss: 0.1250 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 112/120
172/172 [==============================] - 1s 5ms/step - loss: 0.1249 - accuracy: 0.9684 - val_loss: 0.0960 - val_accuracy: 0.9800
Epoch 113/120

Evaluamos el modelo

In [462]:
#model.evaluate(ds_test)

Escribimos las predicciones

In [464]:

frio_test_df = pd.read_csv('/content/Test_TP2_Datos_2020-2C.csv')
frio_test_df['Stage'] = 'Closed Won' #Esto esta solo para que funque todo, no lo uso. No se bien como armarlo sin los labels de Stage. TODO: Averiguar como es!
aux_df = frio_test_df[['Opportunity_ID']] #Esta columna la vuela el preprocesado sino
frio_test_df = preprocess_dataframe(frio_test_df)
frio_test_ds = df_to_dataset(frio_test_df, shuffle=False, batch_size=56)
predictions = model.predict(frio_test_ds)

aux_df.drop_duplicates(subset='Opportunity_ID', inplace=True) #Lo hacia el preprocesado pero es verdad que lo copie antes a este xd, perdon Agus, paja de dejarlo lindo.
aux_df['Target'] = predictions

#aux_df['Target'] = aux_df.groupby(by='Opportunity_ID').transform(lambda x: x.mean())
#aux_df.drop_duplicates(subset='Opportunity_ID', inplace=True)

aux_df.to_csv('prediccionesFrioFrio.csv', index=False)
'''
df = pd.read_csv('/content/Train_TP2_Datos_2020-2C.csv')
df = df[(df['Stage'] == 'Closed Won') | (df['Stage'] == 'Closed Lost')]
df = df[df['Opportunity_ID'] != 9773]
df = df[['Opportunity_ID']]
df.drop_duplicates(subset='Opportunity_ID', inplace=True)
np.random.seed(1)
drop_indices = np.random.choice(df.index, test_lines, replace=False)
df.drop(drop_indices, inplace=True)
predictions = model.predict(ds)
df['Target'] = predictions
df.to_csv('prediccionesFrioFrio.csv', index=False)
'''

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

"\ndf = pd.read_csv('/content/Train_TP2_Datos_2020-2C.csv')\ndf = df[(df['Stage'] == 'Closed Won') | (df['Stage'] == 'Closed Lost')]\ndf = df[df['Opportunity_ID'] != 9773]\ndf = df[['Opportunity_ID']]\ndf.drop_duplicates(subset='Opportunity_ID', inplace=True)\nnp.random.seed(1)\ndrop_indices = np.random.choice(df.index, test_lines, replace=False)\ndf.drop(drop_indices, inplace=True)\npredictions = model.predict(ds)\ndf['Target'] = predictions\ndf.to_csv('prediccionesFrioFrio.csv', index=False)\n"