<a href="https://colab.research.google.com/github/MarcosRolando/OrgaDeDatosTP2/blob/main/neuralNetwoork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [349]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow import feature_column

Tuneamos algunas cosas del DataFrame que notamos en el analisis de los datos.

In [350]:
df = pd.read_csv('/content/Train_TP2_Datos_2020-2C.csv')
df = df[df['Stage'].isin(['Closed Won', 'Closed Lost'])]
df.loc[:, 'Stage'].replace({'Closed Won':1, 'Closed Lost':0}, inplace=True) #0 corresponde a que el caso fue Closed Lost, 1 a que fue Closed Won. Asi tenemos un problema de clasificacion binario que puede entender la red neuronal.

df.loc[:, 'Planned_Delivery_Start_Date'] = pd.to_datetime(df['Planned_Delivery_Start_Date'], 'coerce',
                                                                format='%m/%d/%Y')
df.loc[:, 'Planned_Delivery_End_Date'] = pd.to_datetime(df['Planned_Delivery_End_Date'], 'coerce',
                                                                                    format='%m/%d/%Y')
df = df[df['Opportunity_ID'] != 9773] #Hardcodeo este filtrado porque el id 9773 tiene mal cargada la fecha de delviery end, dando una diferencia de 200 anios xd"

#Pongo .loc porque pandas me jode con warnings que son falsos positivos de slice copy"
#Gracias Pandas!"

#Creamos una nueva columna (Feature Engineering) que contiene la longitud en dias 
#estimada de la operacion. En el informe habiamos encontrado que aparentaba haber
#una relacion cuadratica de decrecimiento a medida que aumentaban los dias donde disminuia
#la chance de completar la operacion.
df['Delta_Time'] = df['Planned_Delivery_End_Date'] - df['Planned_Delivery_Start_Date']
df.loc[:, 'Delta_Time'] = df['Delta_Time'].dt.days

#Pasamos todo a dolares
currency_conversion = {'AUD':0.707612, 'EUR':1.131064, 'GBP':1.318055, 'JPY':0.008987, 'USD':1.0}
df['Total_Taxable_Amount_Currency'] = df[['Total_Taxable_Amount_Currency']].replace(currency_conversion)
df['Total_Taxable_Amount'] = df['Total_Taxable_Amount_Currency'] * df['Total_Taxable_Amount']

Filtrado y renombrado de columnas

In [351]:

#Borro columnas que tengan el mismo dato en todas las entradas, o inconsecuentes como el ID / Opportunity_ID
#Algunas columnas borradas son porque pienso que no tienen incidencia, ir viendo.
#TODO: Analizar si el Sales_Contract_No no es que importe el numero en si, sino si tiene
#o no tiene numero de contrato. Por ahora no lo meto como input.
#TODO: Ver el mismo tema con la columna 'Price', la mayoria tiene None u Other
#y solo unos pocos tienen precio numerico. Quiza importe que tenga precio o no tenga,
#o si no tiene precio quiza importe si es None u Other. Por ahora no lo pongo
#como input.
df.drop(columns=['Submitted_for_Approval', 'Last_Activity', 'ASP_(converted)_Currency', 
                 'Prod_Category_A', 'ID', 'Opportunity_ID'],inplace=True)

#Renombramos las columnas que tienen caracteres que TensorFlow no acepta como validos.
#Estos particularmente son whitespace, coma y parentesis por ejemplo.
df.rename(columns={'ASP_(converted)':'ASP_converted','Pricing, Delivery_Terms_Quote_Appr':
                   'Pricing_Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved':
                   'Pricing_Delivery_Terms_Approved','Source ':'Source'},inplace=True)

#Drop columnas que quiza podamos usar pero por ahora no las uso
df.drop(columns=['Account_Created_Date','Opportunity_Created_Date',
                 'Quote_Expiry_Date','Last_Modified_Date',
                 'Planned_Delivery_Start_Date','Planned_Delivery_End_Date',
                 'Month','Delivery_Quarter', 'Delivery_Year', 'Actual_Delivery_Date',
                 'Sales_Contract_No','Price','ASP','ASP_Currency','Total_Amount_Currency',
                 'Total_Amount','Total_Taxable_Amount_Currency'],inplace=True)

Definimos que tipo de feature es cada columna

In [352]:

#Columnas que consideramos numericas
numeric_columns = ['Pricing_Delivery_Terms_Quote_Appr','Pricing_Delivery_Terms_Approved',
                     'Bureaucratic_Code_0_Approval','Bureaucratic_Code_0_Approved',
                     'ASP_converted','TRF','Total_Taxable_Amount']

#Columnas que consideramos clasificatorias con rango numerico
bucket_columns = ['Delta_Time']

#Columnas que consideramos categoricas de pocos valores posibles
indicator_columns = ['Region','Territory','Bureaucratic_Code','Source',
                       'Billing_Country','Account_Name','Opportunity_Name',
                       'Account_Owner','Opportunity_Owner','Account_Type',
                       'Opportunity_Type','Quote_Type','Delivery_Terms',
                       'Brand','Product_Type','Size','Product_Category_B',
                       'Currency','Last_Modified_By','Product_Family',
                       'Product_Name']

#Debemos separar algunos de los registros para armar un set de test propio (no el de la catedra). De esta forma sabremos rapidamente
#si nuestro modelo esta dando resultados optimos o no sin necesidad de estar subiendo el TP a Kaggle constantemente.
#Sin embargo, no queremos usar tantos registros ya que estariamos disminuyendo el set de entrenamiento considerablemente.
#Podemos empezar reservando 2000 registros para el test de prueba y ver que onda. Pasariamos de tener 16 mil a 14 mil 
#registros para el set de entrenamiento, no es una perdida importantisima creo en principio, asi que arrancamos con eso.

#Por otro lado, nuestro test de prueba deberia tener un 50 50 de Closed Won y Closed Lost, por lo que no podemos elegir asi nomas
#al azar.

#TODO: DEJO COMO TAREA ARMAR EL SET DE PRUEBA, POR AHORA SOLO NOS PREOCUPAMOS DE LOGRAR HACER ANDAR LA RED NEURONAL.
#df = df.head(500)
normalized_columns = ['ASP_converted','TRF','Total_Taxable_Amount']
for column in normalized_columns:
  df[column] = (df[column] - df[column].mean()) / df[column].std()

df.fillna(value=0, inplace=True)
df_test = df.head(200)
df.drop(df.head(200).index, inplace=True)
df

         Region   Territory  ...  Stage  Delta_Time
200       Japan       Japan  ...      1         4.0
201       Japan       Japan  ...      1         4.0
202       Japan       Japan  ...      1         4.0
203       Japan       Japan  ...      1         7.0
204       Japan       Japan  ...      0         7.0
...         ...         ...  ...    ...         ...
16942      EMEA     Austria  ...      1         4.0
16943      EMEA     Austria  ...      1         4.0
16944      EMEA     Austria  ...      1         3.0
16945  Americas  NE America  ...      0         4.0
16946  Americas  NE America  ...      0        61.0

[16680 rows x 30 columns]

In [353]:
# Metodo que pasa de DataFrame de Pandas a un DataSet de TensorFlow
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
  dataframe = dataframe.copy()
  labels = dataframe.pop('Stage') #Retorna la columna Stage, eliminandolo simultaneamente del DataFrame. 'Stage' seria nuestra columna 'target', es decir, lo que queremos predecir.
  ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels)) #Crea un DataSet cuyos elementos son slices de los tensores pasados a la funcion. Ver documentacion oficial para comprender bien.
  #En pocas palabras, le pasamos las columnas con los datos como diccionario (estilo 'columna':[dato1,dato2,dato3]) y una lista con los resultados estilo [resu1,resu2,resu3].
  #Se genera un DataSet del estilo [('columna':[dato1,dato2,dato3], [resu1, resu2, resu3])].
  #En realidad 'columna' es una lista de todas las columnas con sus correspondientes datos, pero se entiende la idea creo.
  if shuffle:
    ds = ds.shuffle(buffer_size=len(dataframe)) #Al tener el buffer_size del mismo tamanio que la cantidad de datos del dataset, tenemos perfect shuffling (ver documentacion para comprender).
    #Basicamente mezlcamos el dataset para que luego los batches que se armen contengan distintos elementos si lo entrenamos distintas veces.
  ds = ds.batch(batch_size) #Arma batches de tamanio batch_size entre elementos consecutivos del DataSet.
  return ds

In [354]:
#Arma las features, asignando las columnas del DataFrame segun corresponda al tipo de feature
#(numerico, categorico, etc). Entiendase por feature a las columnas del DataFrame.
def set_up_feature_columns(dataframe, numeric_columns, indicator_columns, bucket_columns):
  features = []

  #numeric features
  for column_name in numeric_columns:
    features.append(feature_column.numeric_column(column_name))

  #bucket features
  boundaries = [] #En principio este boundary es solo para la columna 'Delta Time'. Ver de como generalizar.
  for i in range(35):
    boundaries.append(i*10.0)

  for column_name in bucket_columns:
    range_column = feature_column.numeric_column(column_name)
    bukect_column = feature_column.bucketized_column(range_column, boundaries)
    features.append(bukect_column)

  #indicator_columns (one-hot value vector, para aquellas columnas categoricas de pocas opciones)
  for column_name in indicator_columns:
    categorical_column = feature_column.categorical_column_with_vocabulary_list(
                                          column_name, dataframe[column_name].unique())
    indicator_column = feature_column.indicator_column(categorical_column)
    features.append(indicator_column)

  return features

Preparamos los features para el modelo, es decir, seteamos cada una de las columnas que vayamos a utilizar del DataFrame. Luego generamos el DataSet en base al DataFrame para darselo como input al modelo.

In [355]:
  features = set_up_feature_columns(df,numeric_columns,indicator_columns,bucket_columns)
  feature_layer = tf.keras.layers.DenseFeatures(features)
  ds = df_to_dataset(df,batch_size=512)
  ds_test = df_to_dataset(df_test, batch_size=512)

Creamos y compilamos el modelo. En esta seccion se tunean las propiedades del modelo.

In [356]:
model = tf.keras.Sequential([
  feature_layer,
  #tf.keras.layers.Dense(1, 'relu'),
  #tf.keras.layers.Dense(6, 'relu'),
  #tf.keras.layers.Dense(64, 'relu'),
  tf.keras.layers.Dropout(0.3),
  tf.keras.layers.Dense(1)
])

In [357]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

Entrenamos el modelo

In [374]:
#Ignoren el WARNING, esta en la documentacion tambien. Nadie le da bola en StackOverflow xd.
model.fit(ds,epochs=20)
model.summary()

Epoch 1/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1133 - accuracy: 0.9529
Epoch 2/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1157 - accuracy: 0.9541
Epoch 3/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1147 - accuracy: 0.9532
Epoch 4/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1147 - accuracy: 0.9498
Epoch 5/20
33/33 [==============================] - 1s 18ms/step - loss: 0.1170 - accuracy: 0.9522
Epoch 6/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1125 - accuracy: 0.9534
Epoch 7/20
33/33 [==============================] - 1s 18ms/step - loss: 0.1202 - accuracy: 0.9483
Epoch 8/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1123 - accuracy: 0.9544
Epoch 9/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1156 - accuracy: 0.9497
Epoch 10/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1124 - accuracy: 0.9543
Epoch 11/20
33/33 [==============================] - 1s 18ms/step - loss: 0.1150 - accuracy: 0.9493
Epoch 12/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1175 - accuracy: 0.9516
Epoch 13/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1112 - accuracy: 0.9531
Epoch 14/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1271 - accuracy: 0.9464
Epoch 15/20
33/33 [==============================] - 1s 18ms/step - loss: 0.1184 - accuracy: 0.9492
Epoch 16/20
33/33 [==============================] - 1s 18ms/step - loss: 0.1161 - accuracy: 0.9494
Epoch 17/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1184 - accuracy: 0.9533
Epoch 18/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1152 - accuracy: 0.9530
Epoch 19/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1136 - accuracy: 0.9528
Epoch 20/20
33/33 [==============================] - 1s 17ms/step - loss: 0.1182 - accuracy: 0.9497
Model: "sequential_27"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_features_28 (DenseFeat multiple                  0
_________________________________________________________________
dropout_10 (Dropout)         multiple                  0
_________________________________________________________________
dense_57 (Dense)             multiple                  12465
=================================================================
Total params: 12,465
Trainable params: 12,465
Non-trainable params: 0
_________________________________________________________________

Evaluamos el modelo

In [377]:
loss, accuracy = model.evaluate(ds_test)
print("Accuracy", accuracy)

1/1 [==============================] - 0s 30ms/step - loss: 0.3794 - accuracy: 0.9000
Accuracy 0.8999999761581421